/* @font-face {
  font-family: "nimbus-sans-ext";
  src: url("https://use.typekit.net/rvt5ifd.css");
}*/
/* @import url("https://use.typekit.net/rvt5ifd.css"); */
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
* {
  box-sizing: border-box;
  font-family: "Syne", "nimbus-sans-extended", sans-serif;
  color: #dcdcdc;
  margin: 0%;
}
body {
  background-color: #1e1e1e;
}

.form-wrapper {
  background-color: #22242c;
  box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 27px;
  width: 90vw;
  margin: 5% auto;
  align-items: center;
}
.form-wrapper .heading-container {
  width: 100%;
  align-items: baseline;
  border-bottom: 1px solid #dcdcdc;
}
.form-wrapper .heading-container h1 {
  margin-left: 1.7rem;
  width: max-content;
  padding: 2rem 1.5%;
  font-size: 2rem;
}

form .inner-wrapper {
  display: flex;
  flex-direction: row;
}
form .form-p1,
.form-p2 {
  width: 50%;
  padding: 7%;
}
.form-p1 {
  border-right: 1px solid #dcdcdc;
}

form input,
select {
  background: none;
  width: 100%;
  margin: 1.7% auto;
  padding: 2%;
  border-radius: 11px;
}
form select {
  background-color: #16181d;
}
form #TC {
  width: max-content;
}
form #terms {
  text-decoration: underline;
}
form .form-p2 button {
  float: right;
  width: 10rem;
  padding: 1% 0.2%;
  background: #7768d8;
  border-radius: 100px;
  border: none;
  color: #16181d;
}
form .form-p2 button:hover {
  cursor: pointer;
}
@media (max-width: 460px) {
  form .inner-wrapper {
    display: flex;
    flex-direction: column;
  }
  form .form-p1,
  .form-p2 {
    width: 100%;
    padding: 7%;
  }
  .form-p1 {
    border: none;
  }
}
