.events {
  background-color: #8ac185;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 15px;
  border-radius: 30px;
  overflow-y: scroll;
}

.heading {
  margin: 15px auto;
  padding: 1% 4rem;
}

.text2,
.head2 {
  color: black;
  margin-left: 37px;
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
}

.head2 {
  text-align: left;
}

.card11,
.card22,
.card33 {
  /* display: flex; */
  float: left;
  /* flex-direction: column; */
  background-color: #16181d;
  height: 70%;
  padding: 20px;
  border-radius: 25px;
  margin-left: 110px;
}

.Register1 {
  float: left;
  width: 10rem;
  padding: 1% 0.2%;
  background: #16181d;
  border: 1px solid #dcdcdc;
  border-radius: 100px;
  color: #ffffff;
  margin-left: 25px;
}

.readmore {
  text-decoration: underline;
}

p4 {
  color: #8ac185;
}

.imgone1 {
  height: 45px;
  width: 45px;
}

@media (min-width: 812px) and (max-width: 952px) {
  .events {
    margin: 0% auto;
    padding: 1%;
  }
  .card11,
  .card22,
  .card33 {
    margin: 2% 0.3rem;
    width: 32%;
  }
}

@media (max-width: 460px) {
  .events {
    padding: 0%;
  }
  .heading {
    padding: 0;
  }
  .events-card-wrapper {
    width: 60vw;
    margin: 0 auto;
  }
  .card11,
  .card22,
  .card33 {
    margin: 2% 0%;
  }
}

.events::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.events {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
