footer {
  padding: 0.9rem;
  background: #23262a;
}
footer #left-footer-wrapper {
  display: inline-flex;
  flex-direction: row;
}
footer #left-footer-wrapper img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
footer #left-footer-wrapper .social {
  padding-top: 0.5rem;
}
footer #left-footer-wrapper .social a {
  margin: 1.5rem;
  text-decoration: none;
  color: #d7daeb;
}
footer #right-footer-wrapper {
  float: right;
}
footer #right-footer-wrapper ul {
  list-style: none;
  text-decoration: none;
}
footer #right-footer-wrapper ul li {
  display: inline;
  padding-right: 2.5rem;
}
footer #right-footer-wrapper ul li a {
  color: #d7daeb;
  text-decoration: none;
}
footer #right-footer-wrapper ul li img {
  width: 15rem;
  margin-top: 0.7rem;
}
@media (max-width: 952px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer #left-footer-wrapper {
    align-items: center;
    text-align: center;
    display: block;
  }
  footer #left-footer-wrapper .social {
    border: none;
  }
  footer #right-footer-wrapper {
    width: 100%;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    align-items: center;
    text-align: center;
  }
  footer #right-footer-wrapper ul {
    width: max-content;
    margin: 0 auto;
  }
  footer #right-footer-wrapper ul li {
    width: 100%;
    margin-top: 0.5rem;
    align-items: center;
    text-align: center;
    display: block;
  }
}

@media (max-screen: 480px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer #left-footer-wrapper {
    align-items: center;
    text-align: center;
    display: block;
  }
  footer #left-footer-wrapper .social {
    border: none;
  }
  footer #right-footer-wrapper {
    width: 100%;
    margin-top: 0.5rem;
    align-items: center;
    text-align: center;
  }
  footer #right-footer-wrapper ul {
    margin: 0%;
    padding: 0%;
  }
  footer #right-footer-wrapper ul li {
    width: max-content;
    margin-top: 0.5rem;
    align-items: center;
    text-align: center;
    display: block;
  }
}
