.webinar {
  background-color: #fed47e;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 15px;
  border-radius: 30px;
  overflow-y: scroll;
}

.heading {
  margin: 15px auto;
  padding: 1% 4rem;
}
.text,
.head {
  color: black;
  margin-left: 37px;
}

.head {
  text-align: left;
}

.card1,
.card2,
.card3 {
  /* display: flex; */
  float: left;
  /* flex-direction: column; */
  background-color: #16181d;
  height: 70%;
  padding: 20px;

  border-radius: 25px;
}

.card1,
.card2,
.card3 {
  margin-left: 110px;
}

/* .card3{
    /* padding: 58px; }*/

.Register1 {
  float: left;
  width: 10rem;
  padding: 1% 0.2%;
  background: #16181d;
  border: 1px solid #dcdcdc;
  border-radius: 100px;
  color: #ffffff;
  margin-left: 25px;
}

a {
  text-decoration: underline;
}

p2 {
  color: #fed47e;
}

.imgone {
  height: 45px;
  width: 45px;
}

@media (min-width: 812px) and (max-width: 952px) {
  .webinar {
    margin: 0% auto;
    padding: 1%;
  }
  .heading,
  .head,
  .text {
    margin: 15px 0%;
    padding: 0%;
  }
  .card1,
  .card2,
  .card3 {
    margin: 2% 0.3rem;
    width: 32%;
  }
}

@media (max-width: 460px) {
  .heading {
    padding: 0;
  }
  .card1,
  .card2,
  .card3 {
    margin: 2% 0%;
  }
  .webinar-card-wrapper {
    width: 60vw;
    margin: 0 auto;
  }
}

.webinar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.webinar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
