.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  background-color: #22242c;
}
.orcas-branding {
  width: 12%;
  margin-left: 2%;
}
.right {
  display: flex;
  width: fit-content;
}
ul {
  width: fit-content;
  list-style: none;
  padding: 0%;
}
ul li {
  display: inline-block;
  margin-right: 2.5rem;
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
}
ul li a {
  text-decoration: none;
}

.register {
  border: 1px solid #dcdcdc;
  padding: 4% 12%;
  border-radius: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 4% 1%;
    background-color: #22242c;
    align-items: center;
  }
  .orcas-branding {
    width: 16%;
    align-items: baseline;
  }
  ul {
    list-style: none;
    padding: 0%;
    width: fit-content;
  }
  ul li {
    display: inline;
  }
  ul li a {
    text-decoration: none;
  }

  .register {
    border: 1px solid #dcdcdc;
    padding: 1%;
    border-radius: 15px;
  }
}
