@import url("https://use.typekit.net/rvt5ifd.css");
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
* {
  box-sizing: border-box;
  font-family: "Syne", "nimbus-sans-extended", sans-serif;
  color: #dcdcdc;
}
h1 {
  margin: 2% 0;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
}
img {
  width: 100%;
  height: 100%;
}
.credits {
  text-align: right;
  font-size: 6px;
  margin: 0%;
  padding: 0%;
}
.hero-description {
  font-size: 36px;
  padding: 1rem 5rem;
  text-align: left;
}

button {
  float: left;
  width: 7.5rem;
  padding: 0.5% 0.2%;
  background: #7768d8;
  border-radius: 100px;
  border: none;
  color: #16181d;
  font-family: Syne;
  font-style: normal;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.Knowbutton {
  background: #1e1e1e;
  border: 1px solid #dcdcdc;
  border-radius: 100px;
  color: #dcdcdc;
  margin-left: 25px;
}
@media only screen and (max-width: 767px) {
  .hero-description {
    font-size: 18px;
    padding: 0% 0.5rem;
    text-align: justify;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
}
